{% extends 'default.html' %}

{% block title %}
Create Role
{% endblock title %}

{% block style %}
    .vertical-container {
      display: flex;
      height: 400px; /* Высота контейнера, можно задать другое значение */
    }

    .section1 {
      flex: 1;
      background-color: #f1f1f1;
      padding: 20px;
    }

    .section2 {
      flex: 1;
      background-color: #e1e1e1;
      padding: 20px;
    }

    .section3 {
      flex: 1;
      background-color: #d1d1d1;
      padding: 20px;
    }
{% endblock style %}
{% block content %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input type="hidden" name="user" value="{{request.user.username}}">
    <p><label>Role Name: </label>
      <input type="text" name="header" placeholder="Название"></p>


    {% for s in server %}
    <input type="checkbox" name="server" value={{ s.id }} /> {{s.server_name}}<br />
    {% endfor %}
  <div class="vertical-container">
    <div class="section1">
  {% for r in right %}
  {% if r.type_id.id == 1 %}
      <input type="checkbox" name="checkbox" value={{ r.id }} /> {{r.type_id.id}}//{{r.name}}<br />
  {% endif %}
  {% endfor %}
    </div>
    <div class="section2">
  2nd type
  {% for r in right %}
  {% if r.type_id.id == 2 %}
      <input type="checkbox" name="checkbox" value={{ r.id }} /> {{r.type_id.id}}//{{r.name}}<br />
  {% endif %}
  {% endfor %}
    </div>
    <div class="section3">
  {% for r in right %}
  {% if r.type_id.id == 3 %}
      <input type="checkbox" name="checkbox" value={{ r.id }} /> {{r.type_id.id}}//{{r.name}}<br />
  {% endif %}
  {% endfor %}
    </div>
  </div>
  <p> <input type="submit" value="Submit" /></p>
</form>
{% endblock content %}